.logo {
  display: block;
  padding: 5px 0 15px 2px;
  margin: auto;

  // svg {
  //   display: block;
  //   padding: 5px 0 15px 2px;
  //   margin: auto;

  // }
}

@import 'custom/plugins/icons';
